<div class="book-list">
    <h2>Список книг</h2>
    
    <!-- Фильтры -->
    <div class="filters">
      <!-- Поиск по названию и описанию -->
      <input type="text" [(ngModel)]="searchQuery" placeholder="Поиск">
      
      <!-- Фильтр по автору - мультиселект -->
      <mat-form-field class="author-filter">
        <mat-select multiple [(ngModel)]="selectedAuthors" placeholder="Выберите авторов">
          <mat-option *ngFor="let author of authors" [value]="author.id">{{ author.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- Фильтр по числу страниц -->
      <mat-form-field class="page-filter">
        <mat-select [(ngModel)]="selectedPages" placeholder="Выберите число страниц">
          <mat-option *ngFor="let page of pages" [value]="page">{{ page }}</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- Фильтр по языку - мультиселект -->
      <mat-form-field class="language-filter">
        <mat-select multiple [(ngModel)]="selectedLanguages" placeholder="Выберите языки">
          <mat-option *ngFor="let language of languages" [value]="language">{{ language }}</mat-option>
        </mat-select>
      </mat-form-field>
      
      <!-- Фильтр по жанру - селект -->
      <mat-form-field class="genre-filter">
        <mat-select [(ngModel)]="selectedGenre" placeholder="Выберите жанр">
          <mat-option *ngFor="let genre of genres" [value]="genre">{{ genre }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <!-- Список книг -->
    <table>
      <thead>
        <tr>
          <th>Название</th>
          <th>Автор</th>
          <th>Число страниц</th>
          <th>Язык</th>
          <th>Жанр</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books" (click)="showBookDetails(book.id)">
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.pages }}</td>
          <td>{{ book.language }}</td>
          <td>{{ book.genre }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  