header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
}
.header-title * {
    cursor: default;
    color: rgb(255, 186, 10)
}

button {
    cursor: pointer;
}
.filters {
    display: flex;
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}
.table-controllers {
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.table-controllers button {
    font-size: 16px;
    padding: 12px 16px;
    width: 20%;
    height: max-content;
}
.table-controllers input {
    font-size: 16px;
    padding: 12px 16px;
    width: 30%;
    transition: all 0.5s;
}
.table-controllers input:focus, .table-controllers input:active, .table-controllers input:hover {
    width: 75% !important;
}

.table-main {
    display: flex;
    width: 90%;
    justify-content: space-between;
}
table {
    display: flex;
    width: 65%;
    flex-direction: column;
    margin-top: 20px;
}
thead, tbody {
    width: 100%;
}
thead tr, tbody tr {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
}
thead tr th, tbody tr td {
    width: 16%;
    display: flex;
    align-items: center;
}
thead tr th .mat-form-field {
    width: 100%;
}
thead tr th {
    border: solid snow 0.5px;
    border-top: none;
    padding: 12px 6px;
}
tbody tr {
    display: flex;
    flex-direction: column;
}
tbody tr div {
    display: flex;
}
tbody tr td {
    border: solid snow 0.5px;
    padding: 12px 6px;
}
tbody tr a {
    margin: 4px;
    margin-left: 8px;
    background-color: transparent;
    color: rgb(255, 186, 10);
    transition: all 0.5s;
    text-underline-offset: 12px;
    text-decoration: underline rgb(0, 0, 0);
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}
tbody tr a:hover {
    text-decoration: underline rgb(255, 186, 10);
}
tbody tr .book-details, tbody tr .book-details td {
    width: 100%;
    border: none;
}
tbody tr .book-details td {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
tbody tr .book-details td div {
    width: 96%;
    justify-content: space-between;
}

::ng-deep .cdk-overlay-container {
    position: absolute;
}
::ng-deep .cdk-overlay-pane { 
    position: absolute;
    z-index: 9999999999;
    margin-top: 30px;
}
::ng-deep .mat-select-panel {
    position: absolute;
    background: rgb(65, 65, 65);
    border: solid 0.1px rgb(255, 255, 255);
}
::ng-deep .mat-option {
    border: solid 0.1px rgb(0, 0, 0);
}
::ng-deep .mat-option span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
.searchContainer * {
    margin: 8px 0px;
    font-size: 16px;
}
.searchContainer input {
    font-size: 16px;
    padding: 12px 16px;
    width: 45%;
    transition: all 0.5s;
    text-align: center;
}
.searchContainer input:focus, .searchContainer input:active, .searchContainer input:hover {
    width: 90% !important;
}

:host /deep/ p-dropdown {
    width: 100%;
}
:host /deep/ .p-multiselect, :host /deep/ p-multiselect, 
:host /deep/ .p-dropdown, host /deep/ p-dropdown {
    width: 100%;
}
:host /deep/ .p-multiselect-items-wrapper, :host /deep/ .p-dropdown-items-wrapper {
    position: absolute;
    background: rgb(65, 65, 65);
    border: solid 0.1px rgb(255, 255, 255);
    width: 100%;
}

:host /deep/ .p-multiselect-item, :host /deep/ .p-dropdown-item {
    font: inherit;
    background: transparent;
    color: currentColor;
    outline: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
    border: solid 0.1px rgb(0, 0, 0);
    font-size: inherit;
    line-height: 3em;
    height: 3em;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
:host /deep/ .p-multiselect-empty-message, :host /deep/ .p-dropdown-empty-message {
    background: rgb(65, 65, 65);
    border: solid 0.1px rgb(255, 255, 255);
    width: 100%;
    line-height: 3em;
    height: 3em;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
}
:host /deep/ .p-multiselect-header, :host /deep/ .p-dropdown-header {
    font: inherit;
    border: solid 0.1px rgb(255, 255, 255);
    color: currentColor;
    outline: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
    font-size: inherit;
    line-height: 3em;
    height: 3em;
}
:host /deep/ .p-multiselect-filter, :host /deep/ .p-dropdown-filter {
    border: solid 0.1px rgb(0, 0, 0);
    outline: none;
    margin: 0;
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
    font-size: inherit;
    line-height: 3em;
    height: 3em;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
}
:host /deep/ .p-multiselect input, :host /deep/ .p-dropdown input {
    padding: 12px 16px;
}
:host /deep/ .p-multiselect-label-container, :host /deep/ .p-dropdown-label {
    position: absolute;
    background: rgb(65, 65, 65);
    border: solid 0.1px rgb(255, 255, 255);
    width: 100%;
}
:host /deep/ .p-multiselect-label {
    padding: 12px 16px;
}
:host /deep/ .p-dropdown-label {
    text-align: center;
    padding: 12px 0px;
}
:host /deep/ .p-multiselect-close {
    display: none;
}
:host /deep/ .p-hidden-accessible {
    opacity: 0;
}