<header>
  <div class="header-title">
    <h2>Список книг</h2>
  </div>
</header>

<div class="book-list">
  <div class="filters">

    <div class="table-controllers">
      <label for="searchQuery">Поиск по названию и описанию</label>
      <input type="text" [(ngModel)]="searchQuery" placeholder="Введите текст и ждите результата" 
          name="searchQuery"
          (input)="searchBooks()"
          [style.width]="searchQuery ? '75%' : '30%'">
      <button (click)="openAddBookDialog()">Добавить книгу</button>
    </div>   

    <div class="table-main">

      <div class="searchContainer">
        <p-multiSelect [options]="bookAuthorSelects" [(ngModel)]="bookAuthor" 
            placeholder="Выберите автора" [emptyMessage]="'Нет данных для отображения'"
            [showToggleAll]="false" optionLabel="value" (onChange)="searchBooks()"></p-multiSelect>
        <p-multiSelect [options]="bookLanguageSelects" [(ngModel)]="bookLanguage" 
            placeholder="Выберите язык" [emptyMessage]="'Нет данных для отображения'"
            [showToggleAll]="false" optionLabel="value" (onChange)="searchBooks()"></p-multiSelect>
        <input type="number" [(ngModel)]="minPages" placeholder="Минимум страниц">
        <input type="number" [(ngModel)]="maxPages" placeholder="Максимум страниц">
        <button class="applyFilterButton" (click)="searchBooks()">Поиск по количеству страниц</button>
        <div class="searchGenreSection">
          <p-dropdown [options]="bookGenreSelects" [(ngModel)]="bookGenre" optionLabel="value" 
              placeholder="Выберите жанр" [emptyMessage]="'Нет данных для отображения'" 
              [editable]="false" (onChange)="searchBooks()"></p-dropdown>
          <button class="searchGenreClearButton" (click)="clearGenreFilter()">X</button>
        </div>
      </div>

      <table>
        <thead>
          <tr>
            <th style="border-left: none"> 
              <mat-label>Название</mat-label>
            </th>
            <th>
              <mat-form-field appearance="fill">  
                <mat-label>Автор</mat-label>
                <mat-select multiple [(ngModel)]="selectedAuthors" (change)="sortTableByAuthorName()">
                  <mat-option *ngFor="let book of books" [value]="book.author_id"></mat-option>
                </mat-select>
              </mat-form-field>
            </th>
            <th>
              <mat-form-field appearance="fill">
                <mat-label>Язык</mat-label>
                <mat-select multiple [(ngModel)]="selectedLanguages">
                  <mat-option *ngFor="let book of books" [value]="book.language"></mat-option>
                </mat-select>
              </mat-form-field>
            </th>
            <th>
              <mat-form-field appearance="fill">
                <mat-label>Жанр</mat-label>
                <mat-select multiple [(ngModel)]="selectedGenres" [multiple]="true">
                  <mat-option *ngFor="let book of books" [value]="book.genre_id"></mat-option>
                </mat-select>              
              </mat-form-field>
            </th>
            <th style="border-right: none">
              <mat-form-field appearance="fill">
                <mat-label>Число страниц</mat-label>
                <mat-select multiple [(ngModel)]="selectedPages">
                  <mat-option *ngFor="let book of books" [value]="book.pages"></mat-option>
                </mat-select>
              </mat-form-field>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books; let i = index">
            <div>
              <td>{{ book.title }}</td>
              <td>{{ book.author_id }}</td>
              <td>{{ book.language }}</td>
              <td>{{ book.genre_id }}</td>
              <td>{{ book.pages }}</td>
              <a (click)="toggleDetails(i)">{{ book.isExpanded ? 'Скрыть' : 'Подробности' }}</a>
            </div>
            <div class="book-details">
              <td colspan="5" *ngIf="expandedBook === book">
                <h2>Детали книги</h2>
                <div *ngIf="expandedBook">
                  <p><strong>Описание: </strong>{{ expandedBook.description }}</p>
                </div>
                <div *ngIf="!expandedBook">Книга не найдена или загружается...</div>
              </td>
            </div>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>