<div class="book-list">
  <h2>Список книг</h2>

  <!-- Фильтры -->
  <div class="filters">
    <!-- Поле поиска -->
    <input type="text" [(ngModel)]="searchQuery" placeholder="Поиск">

    <!-- Фильтр по авторам (мультиселект) -->
    <mat-form-field appearance="fill">  
      <mat-label>Автор</mat-label>
      <mat-select multiple [(ngModel)]="selectedAuthors">
        <mat-option *ngFor="let author of authors" [value]="author.id">{{ author.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Фильтр по языкам (мультиселект) -->
    <mat-form-field appearance="fill">
      <mat-label>Язык</mat-label>
      <mat-select multiple [(ngModel)]="selectedLanguages">
        <mat-option *ngFor="let book of books" [value]="book.language">{{ book.language }}</mat-option>
      </mat-select>
    </mat-form-field>
    
    <!-- Фильтр по жанру (селект) -->
    <mat-form-field appearance="fill">
      <mat-label>Жанр</mat-label>
      <mat-select [(ngModel)]="selectedGenre">
        <mat-option *ngFor="let genre of genres" [value]="genre.id">{{ genre.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Число страниц</mat-label>
      <mat-select multiple [(ngModel)]="selectedPages">
        <mat-option *ngFor="let book of books" [value]="book.pageCount">{{ book.pageCount }}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <ul>
    <li *ngFor="let book of books">
      <!-- Вывод информации о книге -->
      <h3>{{ book.title }}</h3>
      <p>Автор: {{ book.author }}</p>
      <p>Язык: {{ book.language }}</p>
      <p>Жанр: {{ book.genre }}</p>
      <p>Число страниц: {{ book.page }}</p>

      <!-- Добавьте кнопку или ссылку для открытия карточки книги -->
      <button (click)="openBookDetail(book)">Подробнее</button>
    </li>
  </ul>
</div>
