<div class="author-list">
    <h2>Список авторов</h2>
    
    <!-- Фильтр поиска -->
    <input type="text" [(ngModel)]="searchQuery" placeholder="Поиск">
    
    <!-- Кнопка создания нового автора -->
    <button mat-raised-button (click)="createAuthor()">Создать автора</button>
    
    <!-- Список авторов -->
    <table>
      <thead>
        <tr>
          <th>Имя</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let author of authors">
          <td>{{ author.name }}</td>
          <td>
            <!-- Кнопки действий (редактирование и удаление) -->
            <button mat-icon-button (click)="editAuthor(author.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteAuthor(author.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  