<div class="book-details">
    <h2>Детали книги</h2>
  
    <!-- Отображение деталей книги -->
    <div *ngIf="book">
      <h3>{{ book.title }}</h3>
      <p>Автор: {{ book.author }}</p>
      <p>Язык: {{ book.language }}</p>
      <p>Жанр: {{ book.genre }}</p>
      <p>Число страниц: {{ book.pageCount }}</p>
      
      <!-- Режим редактирования -->
      <div *ngIf="isEditMode">
        <!-- Форма для редактирования книги -->
        <form>
          <mat-form-field appearance="fill">
            <mat-label>Название</mat-label>
            <input matInput [(ngModel)]="book.title">
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Автор</mat-label>
            <input matInput [(ngModel)]="book.author">
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Язык</mat-label>
            <input matInput [(ngModel)]="book.language">
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Жанр</mat-label>
            <input matInput [(ngModel)]="book.genre">
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Число страниц</mat-label>
            <input type="number" matInput [(ngModel)]="book.pageCount">
          </mat-form-field>
          
          <!-- Кнопки для сохранения и отмены редактирования -->
          <button mat-raised-button (click)="saveChanges()">Сохранить</button>
          <button mat-raised-button (click)="cancelEdit()">Отмена</button>
        </form>
      </div>
      
      <!-- Кнопка для включения режима редактирования -->
      <button mat-raised-button (click)="editBook()" *ngIf="!isEditMode">Редактировать</button>
    </div>
  
    <!-- Если книга не загружена, отображаем сообщение об ошибке или загрузке -->
    <div *ngIf="!book">Книга не найдена или загружается...</div>
  </div>
  